.dropdown:hover .dropdown-menu {
    display: block; // remove the gap so it doesn't close
 }

 .navbar-brand {


 font-family: 'Pacifico', cursive;
 color: #003b6d;

 }

.navbar {
    background-color: #ffffff
}
// .border-custom {
//     border-color: #dbdbdb
// }